<div class="asset-file">
  <ul class="file-list">
    {% for file in files %}
      <li tabindex="0">
        <img src="/keystone/assets/{{ file }}" />
        <input type="hidden" name="file" value="{{ file }}" />
        <a href="#" class="remove">Remove</a>
      </li>
    {% endfor %}
  </ul>
  <div class="uploader">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
    </noscript>
  </div>
</div>