<div class="row-fluid">
  <div class="span12">
    <p>Search: <input type="text" name="search" /></p>
    <p>Sort: <input type="text" name="sort" /></p>
    <p>Limit: <input type="text" name="limit" /></p>
  </div>
</div>