<div class="row-fluid">
  <div class="span12">
    <p>Search: <input type="text" name="search" value="{{search}}" /></p>
    <p>Sort: <input type="text" name="sort" value="{{sort}}" /></p>
    <p>Limit: <input type="text" name="limit" value="{{limit}}" /></p>
  </div>
</div>