.tags-field {
	padding: 10px;
	text-align: left;
}

.tags-field * {
	text-align: left;
}

.ta-placeholder {
	display: inline;
	width: auto;
	background: -webkit-linear-gradient(#eee, #ccc);
	border: 1px solid #ccc;
	color: #111;
	text-shadow: 0 1px 0 #eee;
	padding: 0 10px;
	border-radius: 200px;
	margin: -3px 5px 0;
}