<div class="tags-field">
	<span class="tags-field-input" data-typeahead data-typeahead-src="/keystone/api/tags/woo" contenteditable></span>
	<p class="tags-field-tag">Test <a href="#"><i class="icon-remove"></i></a></p>
	<span class="tags-field-input" data-typeahead data-typeahead-src="/keystone/api/tags/woo" contenteditable></span>
	<p class="tags-field-tag">Another <a href="#"><i class="icon-remove"></i></a></p>
	<span class="tags-field-input" data-typeahead data-typeahead-src="/keystone/api/tags/woo" contenteditable></span>
</div>