<td>
  <a class="entry" href="{{ url_to_route('content_edit_content', page.id) }}">
    <span class="singleline">
      <strong>{{ page.title }}</strong> <span class="excerpt">{{ page.excerpt }}</span>
    </span>
  </a>
</td>