{% extends "content/_layout_edit.twig" %}

{% set title = revision.title %}
{% set redirect = 'content_edit_content' %}

{% block formbody %}
	<div class="page-header">
		<h1>Content</h1>
	</div>
  <div class="layout" data-name="content">
    {{ page.layout.renderForm(screen)|raw }}
  </div>
{% endblock %}