{% extends "content/_layout_edit.twig" %}

{% set title = revision.title %}
{% set redirect = {'redirect':['content_edit', page.id, screen]} %}

{% block formbody %}
	<div class="page-header">
		<h1>Content</h1>
	</div>
  <div class="layout" data-name="content">
    {% include '@layout.' ~ page.layout.name ~ '/' ~ page.layout.getScreen(screen).path %}
  </div>
{% endblock %}