{% extends "content/layout.twig" %}

{% block formactions %}
<div class="fixed-form-actions">
  <div class="form-actions">
    <div class="pull-right">
      <button class="btn btn-success"> Create Page</button>
    </div>
  </div>
</div>
{% endblock %}