{% extends "content/layout.twig" %}

{% set redirect = {'redirect':['content_edit', '@page.id', '@screen']} %}

{% block crumb_actions %}
<div class="crumb-actions pull-right">
  <div class="pull-right">
    <div class="btn-group">
      <button class="btn" name="screen" value="layout"> Save</button>
      <button class="btn btn-success" name="screen" value="content"> Start Editing</button>
    </div>
  </div>
</div>
{% endblock %}