{% extends "content/_layout_edit.twig" %}

{% set redirect = 'content_edit_settings' %}

{% block formbody %}
	<div class="page-header">
		<h1>Settings</h1>
	</div>
  <div class="layout" data-name="settings">
    {{ page.layout.form('settings')|raw }}
  </div>
{% endblock %}

{#
{% block formbody %}
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <p>
    <label>URI</label>
    <input name="page[uri]" type="text" placeholder="/path/to/resource" value="{{ page.uri }}" />
  </p>
  <p>
    <label>Publish Date</label>
    <input name="page[published_at]" type="text" placeholder="Today?" value="{{ page.published_at }}" />
  </p>
{% endblock %}
#}