{% extends "content/_layout_list.twig" %}

{% block crumb_actions %}
  <div class="crumb-actions pull-right">
    <a class="btn" data-action="edit" href="#">Edit</a>
    <a class="btn btn-success" href="{{ url_to_route('content_new') }}"><i class="icon-plus"></i> Add Content</a>
  </div>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Content</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title <a href="#"><i class="icon-sort"></i></a></th>
        <th width="10%">Status</th>
        <th width="10%">Date</th>
        <th class="move" width="5%"></th>
        <th class="actions" width="5%"></th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      <tr data-sortable data-id="{{ page.id }}">
        {% include "content/_list_title.twig" %}
        {% include "content/_list_status.twig" %}
        {% include "content/_list_date.twig" %}
        <td class="move"><i class="icon-move"></i></td>
        <td class="actions"><i class="icon-cog"></i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}