.sticky-wrapper {
	margin: 0 0 30px 0;
}

.is-sticky {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.crumbs {
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	color: #999;
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	z-index: 9999;
}
.crumbs ul {
	margin: 0;
}
.crumbs li {
	list-style: none;
	display: inline;
}
.crumbs a, .crumbs span {
	display: inline-block;
	padding: 5px 20px;
	color: inherit;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.crumbs span {
	color: #eee;
}
.crumbs li:before {
	font-family: FontAwesome;
	content: " \f054 ";
}
.crumbs li:first-child a {
	padding-left: 0;
}
.crumbs li:first-child:before {
	content: "";
}