.sticky-wrapper {
	margin: 0 0 30px 0;
}

.is-sticky {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.is-sticky .crumbs {
	background: whiteSmoke;
}

.crumbs {
	border-bottom: 1px solid #ccc;
	color: #999;
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	z-index: 9999;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 1s;
}

.crumbs .btn {
	box-shadow: 0 1px 0 #fff;
}

ul.ancenstry {
	margin: 0;
	padding: 10px 0;
}
ul.ancenstry li {
	list-style: none;
	display: inline;
}
ul.ancenstry a, ul.ancenstry span {
	display: inline-block;
	padding: 5px 20px;
	color: inherit;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
ul.ancenstry span {
	color: #ccc;
}
ul.ancenstry li:before {
	font-family: FontAwesome;
	content: " \f054 ";
}
ul.ancenstry li:first-child a {
	padding-left: 0;
}
ul.ancenstry li:first-child:before {
	content: "";
}

ul.ancenstry  {
	padding-left: 60px;
	max-width: 0px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition: all 0.5s;
	position: relative;
}

ul.ancenstry:before {
	content: "";
	box-shadow: 2px -2px 5px rgba(0,0,0,0.1);
	position: absolute;
	top: 50%;
	right: 5px;
	width: 100%;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	bottom: 0;
	background: #fff;
	z-index: -1;
}

ul.ancenstry:after {
	font-family: FontAwesome;
	content: " \f015 ";
	position: absolute;
	top: 50%;
	left: 20px;
	width: 40px;
	text-align: left;
	margin-top: -0.4em;
	font-size: 18px;
	text-shadow: 1px 1px 0 #fff;
}

ul.ancenstry:hover {
	max-width: 100%;
}

ul.ancestry:hover:before {
	
}

.crumbs .btn-group {
	display: inline-block;
	margin-left: 20px;
}

.crumb-navigation {
	display: inline-block;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	-webkit-transition: all 0.5s;
	padding: 10px 0;
}

.crumb-navigation li {
	list-style: none;
	display: inline-block;
}

.crumb-navigation .title {
	display: none;
}

.crumb-navigation a {
	color: #999;
	padding: 7px 10px;
	display: inline-block;
	line-height: 1;
	border-radius: 5px;
	text-decoration: none;
}

.crumb-navigation a:not(.active):hover {
	color: #000;
}

.crumb-navigation a i {
	margin-bottom: -5px;
	font-size: 18px;
}

.crumb-navigation .active {
	background: #999;
	color: #fff;
	text-shadow: 0 0 2px #000;
	box-shadow: inset 0 5px 10px rgba(0,0,0,0.25);
}

.crumb-actions {
	padding: 10px 20px;
}