*:focus {
	outline: 3px solid rgba(0,0,0,0.2) !important;
}

.fixed-form-actions {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

.form-actions {
	margin: 20px 30px;
	border: none;
	border-bottom: 1px solid #bbb;
	border-radius: 4px;
	background: -webkit-linear-gradient(#fff, #dedede);
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	padding: 10px;
}

.form-actions a {
	font-size: 24px;
	display: inline-block;
	margin: 0 10px 0 0;
	color: #999;
	text-shadow: 0 1px 0 #fff;
	padding: 10px 20px;
	margin: -5px 0;
	border-radius: 4px;
	position: relative;
}

.form-actions a:hover {
	text-decoration: none;
	color: #000;
}

.form-actions a i:before {
	position: relative;
	top: 3px;
}

.form-actions a span.title {
	display: none;
}

.form-actions a span.badge {
	position: absolute;
	top: 4px;
	right: 6px;
}

.form-actions a.active {
	background: rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
	color: #000;
	text-shadow: 0 0 5px #fff;
}

.form-actions button {
	margin-left: 10px;
}