.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.utility {
	border-bottom: 1px solid #000;
	background: rgba(0,0,0,0.25);
	margin: 0;
	text-align: right;
	padding: 5px 10px;
	color: #444;
}
.utility a {
	color: inherit;
}
.title {
	padding: 40px 20px;
	font-family: Helvetica, sans-serif;
}
.title h1 {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	color: rgba(255,255,255,0.1);
}
.title .name {
	display: none;
}
.title .icon-keystone {
	font-size: 3em;
	position: relative;
	top: -10px;
}
.title small {
	font-family: Helvetica, sans-serif;
}
.title input[type="search"] {
	background: rgba(0,0,0,0.5);
	border: none;
	border-radius: 100px;
	margin-top: 12px;
	padding: 4px 15px;
	width: 50%;
}