body {
	// background: url(/keystone/img/use_your_illusion.png) repeat center center;
	// background: url(/keystone/img/wild_oliva.png) repeat center center;
	// background: url(/keystone/img/cartographer.png) repeat center center;
	// background: url(/keystone/img/dark_geometric.png) repeat center center;
	// background: url(/keystone/img/dark_wood.png) repeat center center;
	background: url(/keystone/img/crissXcross.png) fixed center center;
}
.page {
	background: #fff;
	margin: 150px 0 0;
	position: relative;
	z-index: 1;
	box-shadow: 0 5px 10px rgba(0,0,0,0.4);
	min-height: 1000px;
}
.page.with-save {
	padding-bottom: 90px;
}
.row, .row-fluid {
	margin-bottom: 20px;
}