.page-header h1 {
	color: #333;
	font-weight: 100;
	font-size: 24px;
	text-shadow: 1px 1px 0 #ccc;
	margin-bottom: 0;
}

.page-header {
	border-bottom: 1px solid #999;
	padding-bottom: 0;
}

.page-header small {
	font-weight: normal;
	text-shadow: none;
	font-size: 16px;
}