table {
	table-layout: fixed;
}

.singleline {
	display: block;
	white-space: nowrap;
	height: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .entry {
	color: #ccc;

	strong {
		font-weight: normal;
		color: #333;
	}
}

tbody {
	position: relative;
}

table .move {
	display: none;

	body.editing & {
		display: table-cell;
	}
}