table {
	table-layout: fixed;
}

.singleline {
	display: block;
	white-space: nowrap;
	height: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .entry {
	color: #ccc;

	strong {
		font-weight: normal;
		color: #333;
	}
}

.page-box a {
	text-decoration: none;
	color: inherit;
}

.page-box {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.page-box strong {
	font-weight: 200;
	font-size: 18px;
}

.page-box .excerpt {
	color: #999;
}

.page-box .meta {
	color: #999;
	font-size: 12px;
}

.page-box .move {
	display: none;
}