This is the homepage.
<hr />

{% for element in page.tagline %}
	<h1>{{ element.revision().getFieldId(1).value }}</h1>
{% endfor %}

{% for element in page.body %}
	<p>{{ element.revision().getFieldId(1).value }}</p>
{% endfor %}