This is the homepage.
<hr />

{% for tagline in page.tagline %}
	<h1>{{ tagline.content }}</h1>
{% endfor %}

<h1>{{ page.tagline }}</h1>

{% for body in page.body %}
	<p>{{ body.content }}</p>
{% endfor %}

{{ page.body }}