<div class="row-fluid">
  <div class="span12" style="text-align: center; font-size: 19px; line-height: 1.4em; font-weight: 100;">
    {% include 'region/form.twig' with {'region':page.layout.getRegion('title').with({'allow':['plain'], 'max':1, 'min':1, 'config.plain.placeholder':'Welcome Text...'})} %}
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    {% include 'region/form.twig' with {'region':page.layout.getRegion('carousel').with({'allow':['carousel'], 'min':1})} %}
  </div>
</div>

<h2>Highlights</h2>
<div class="row-fluid">
  <div class="span6">
    {% include 'region/form.twig' with {'region':page.layout.getRegion('features_left').with({'allow':['image_text']})} %}
  </div>
  <div class="span6">
    {% include 'region/form.twig' with {'region':page.layout.getRegion('features_right').with({'allow':['image_text']})} %}
  </div>
</div>

<div class="row-fluid">
  <h4 class="span12">
    {% include 'region/form.twig' with {'region':page.layout.getRegion('featured_title').with({'allow':['plain'], 'max':1, 'min':1, 'config.plain.placeholder':'Some of our Featured Projects'})} %}
  </h4>
</div>

<div class="row-fluid">
  <div class="span12">
    {% include 'region/form.twig' with {'region':page.layout.getRegion('featured_projects').with({'allow':['relationship'], 'min':4})} %}
  </div>
</div>