<div class="row-fluid">
  <div class="span12" style="text-align: center; font-size: 19px; line-height: 1.4em; font-weight: 100;">
    <?= region(array('name' => 'title', 'allow' => array('plain'), 'max' => 1, 'min' => 1, 'config:plain:placeholder' => 'Welcome Text&hellip;')) ?>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <?= region(array('name' => 'carousel', 'allow' => array('carousel'), 'min' => 1)) ?>
  </div>
</div>

<h2>Highlights</h2>
<div class="row-fluid">
  <div class="span6">
    <?= region(array('name' => 'features_left', 'allow' => array('image_text'))) ?>
  </div>
  <div class="span6">
    <?= region(array('name' => 'features_right', 'allow' => array('image_text'))) ?>
  </div>
</div>

<div class="row-fluid">
  <h4 class="span12">
    <?= region(array('name' => 'featured_title', 'allow' => array('plain'), 'max' => 1, 'min' => 1, 'config:plain:placeholder' => 'Some of our Featured Projects')) ?>
  </h4>
</div>

<div class="row-fluid">
  <div class="span12">
    <?= region(array('name' => 'featured_projects', 'allow' => array('relationship'), 'min' => 4)) ?>
  </div>
</div>