<div class="row-fluid">
	<div class="span3">
  	{{{field "asset" "image"}}}
	</div>
  <div class="span9">
	  <div><strong>{{{field "plain" "title"}}}</strong></div>
	  <div>{{{field "plain" "excerpt"}}}</div>
	 </div>
</div>