/*
  Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "keystone";
  src: url("keystone-e0c9e1defcbb2b8bc5b1cc893ed28896.eot?#iefix") format("embedded-opentype"),
       url("keystone-e0c9e1defcbb2b8bc5b1cc893ed28896.woff") format("woff"),
       url("keystone-e0c9e1defcbb2b8bc5b1cc893ed28896.ttf") format("truetype"),
       url("keystone-e0c9e1defcbb2b8bc5b1cc893ed28896.svg#keystone") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
  Icon Classes
*/

.icon-keystone:before {
  font-family: "keystone";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f100";
}