<div class="region" data-region="true" data-name="{{ region.getName() }}" data-matryoshka="node[regions][{{ region.getName() }}]">
  <div class="fields" data-fields="true">

    {% for field in region.getFields() %}
       {% include "content/_field.twig" %}
    {% endfor %}

  </div>
  <a href="{{ url_to('/keystone/content/edit/' ~ page._id ~ '/add_field/' ~ region.getName()) }}" data-action="choose-field">add field</a>
</div>