{% extends "layouts/base.twig" %}

{% block content %}
<form action="{{ url_to('keystone/content/edit/' ~ page._id) }}" method="post" data-autosubmit="true" data-action="edit-node">
  <p>path: <input type="text" placeholder="Path..." name="node[path]" value="{{ page.path }}" /></p>
  <hr />

  {% include "@layout." ~ layout.getName() ~ "/" ~ layout.getScreen('content').getPath() %}

  <p><input type="submit" class="btn" /></p>
</form>
{% endblock %}