{% extends "content/_layout_list.twig" %}

{% block content %}
  <div class="page-header">
    <h1>Content</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th width="10%">Status</th>
        <th width="10%">Type</th>
        <th width="10%">Date <a href="#"><i class="icon-sort-down"></i></a></th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      <tr>
        {% include "content/_list_title.twig" %}
        {% include "content/_list_status.twig" %}
        {% include "content/_list_type.twig" %}
        {% include "content/_list_date.twig" %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}