<form action="{{ URL_route('postNewElement') }}" method="post">
	<input type="text" placeholder="Name..." name="element[name]" />
	<input type="text" placeholder="Slug..." name="element[slug]" />
	<input type="submit" value="Save" />
</form>