<html>
<head>
  <title>{{ title|default('Keystone') }}</title>
  {% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% endblock %}
  {% block css %}
    <link rel="stylesheet" href="/keystone/fontawesome/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/keystone/keystone/fontcustom.css" type="text/css" />
    <link rel="stylesheet" href="/keystone/css/screen.css" type="text/css" />
    {#<script src="http://use.edgefonts.net/bree-serif.js"></script>
    <script src="http://use.edgefonts.net/marvel.js"></script>#}
  {% endblock %}
</head>
<body>
	{% block base %}{% endblock %}
  {% block javascript %}
    <script src="/keystone/js/functions.js"></script>
  {% endblock %}
</body>
</html>